.messageList{
    list-style: none;
    margin: 0 ;
    padding: 0 20px}
.messageList_card{
    border-radius: 15px;
    margin: 10px 0;
    box-shadow: 2px 5px 11px -5px;
    padding: 20px 10px;
    max-width: 520px;

}

.messageList_attachment{
    background-color: lightgrey;
    border-radius: 20px;
    margin-bottom : 10px;
    width:100%;
}
.messageList_message{
    background-color: #f2f2f2;;
    border-radius: 20px;
    max-width: 500px;
    padding : 10px;

}
.messagList_date{
    font-size: 12px;
    color: grey;
    text-align: center;
position:relative;
}
#commentIcon{
    width:20px;
    height: 20px;
    cursor: pointer

}
.messageList_comment{
    border-radius: 15px;
    margin: 10px 0;
    border: 2px solid #e8a8ad;
    padding: 10px;
    background-color: #ebe6e6eb;
    list-style-type: none;
    max-width: 500px;
}
.commentaire_user{
    overflow-wrap: break-word;
    font-style: italic;
    color: #724444;
}
.comment_userName{
    font-size:8px;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    color: #e8a8ad;

}
.comment_date{
        font-size:8px;
        color: #d4baba;

}
.comment_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between  
}
.sendComment_message{
    width: 60%;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #e8a8ad;
    padding: 10px 30px 10px 10px;
    resize: none;
}
#delete_post_button{
    position: absolute;
    right: 0px;
    top : 0px;
    opacity: 0.5;
}
#delete_post_button:hover{
    opacity:1;
}
.editIcon{
    width:15px;
    height:15px;
    position: absolute;
    right: 6px;
    top: 20px;
    opacity:0.5;
    }
    .editIcon:hover{
        opacity:1;
    }