.search{
    background-color:#e8a8ad;
    display: flex;
  flex-flow: row;
  justify-content: flex-end;
position:relative
}
.search_input{
    width: 40%;
    max-width:315px;
    border-radius:15px;
    border: none;
    margin: 5px 10px 5px 0;
    padding:8px;
 
}
.search_icon{
position: absolute;
bottom:10px;
right:20px;
width: 20px

}