.sendPost {
  background-color: #e8a8ad;
  
  padding: 10px;
}
.sendPost_form {
}
.sendPost_message_label {
}
.sendPost_message {
  width: 67%;
  height: 15px;
  border-radius: 15px;
  border: none;
  padding: 10px 30px 10px 10px;
  resize: none;
}
.sendPost_message_icon {
  width: 30px;
  height: 24px;
  vertical-align: super;
  cursor: pointer;
}
.sendPost_attachment_label {
  position: relative;
}
.sendPost_attachment_icon {
  position: absolute;
  width: 20px;
  height: 18px;
  right: 10px;
  bottom: 10px;
  cursor:pointer;
}
.sendPost_attachment {
  position: absolute;
  width: 19px;
  height: 20px;
  right: 10px;
  bottom: 10px;
  display: none;
}
.sendPost_button,
.send_comment_button {
  display: none;
}
.send_comment_message {
  max-width: 300px;
}
.send_comment_submit {
  position: relative;
}
.send_comment_submit_icon {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 4px;
  left: 20px;
  cursor: pointer;
  border: 1px solid #e8a8ad;
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: 4px 4px 8px -3px;
}
.send_comment_submit_icon:active {
  box-shadow: none;
}
.send_comment {
  display: flex;
  flex-flow: row;
}
.send_comment_message {
  width: 87%;
  height: 15px;
  border-radius: 15px;
  border: 1px solid #e8a8ad;
  padding: 10px 30px 10px 10px;
  resize: none;
}
.delete_icon {
  width: 15px;
  height: 15px;
  padding: 4px 1px;
  cursor: pointer;
}
.delete_button {
  border: none;
  background: none;
  transform: translateY(-5px);
}
.delete_button:active {
  border: 1px solid #e8a8ad;
  border-radius: 5px;
}
